<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>com.scripts.wallpaper.random.start</string>

    <key>ProgramArguments</key>
    <array>
      <string>/opt/homebrew/bin/python3</string>
      <string>/Users/williamferns/.config/scripts/random_wallpaper/random_wallpaper.py</string>
    </array>

    <key>EnvironmentVariables</key>
    <dict>
      <key>PATH</key>
      <string>/usr/bin:/usr/local/bin:/opt/homebrew/bin</string>
    </dict>

    <key>StandardInPath</key>
    <string>/tmp/test.stdin</string>
    <key>StandardOutPath</key>
    <string>/tmp/test.stdout</string>
    <key>StandardErrorPath</key>
    <string>/tmp/test.stderr</string>

    <key>StartInterval</key>
    <integer>10</integer>

  </dict>
</plist>
